@use "./abstract/index" as *;
@use "./base/index" as *;
@use "./components/index" as *;
@use "./pages/index" as *;

body {
  background-color: $clr-bg-primary;
  color: $clr-text-primary;
  margin-inline: $default-margin-inline;
}
